.dot::before {
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 50%;
  /* background-color: linear; */
  background-color: #00ff19;
  box-shadow: 1rem 1rem 1rem #00ff19;
  position: absolute;
  left: -20%;
  top: 35%;
  z-index: 200;
  transform: translateY(-50%);
}

.y {
  font-size: 100px;
}

.fixer {
  position: fixed;
  width: full;
  top: 0;
  left: 0;
  z-index: 100;
}
